@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Quicksand:wght@300&family=Work+Sans:wght@300&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
}
header {
    padding: 20px;
    display: flex;
}
header img{
    max-width: 50%;
    margin-right: 10px;
}
header a{
    color: #3a3a3a;
    float: right;
    text-decoration: none;
    padding-right: 10px;
    font-size: 1.3em;
}
nav {
    clear: both;
    font-size: 70%;
}

nav ul {
    display: flex;
    background-color: #3a3a3a;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    flex-wrap: wrap;
}

nav li {
    display: inline;
}

nav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #4c96d7;
    color: #3a3a3a;
}

main a{
    color: rgb(255, 111, 0);
    font-size: large;
}

footer{
    margin-top: 1em;
    text-align: center;
    font-size: small;
    border-top: 4px solid black;
}

@media only screen and (min-width: 768px) {
    header img{
        max-width: 20%;
    }
}