@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('bg.jpg');
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
li a{
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
    text-align: center;
    padding: 14px 16px;
    border-radius: 10%;
}
li a:hover{
    background-color: #58c565;
    color: #ffffff;
}
div.container-search{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
}
div.container-search h1{
    margin-bottom: 20px;
}
div.result{
    margin-top: 10px;
    margin-left: 40px;
    max-width: 100%;
}
label{
    margin-top: 40px;
}
a.list-item{
    margin-bottom: 10px;
    display: flex;
    color: aqua;
    margin-left: 30px;
}
button#btn_submit{
    padding: 8px 16px;
    margin: 10px;
    border-radius: 25%;
    background-color: #58c565;
}
div.genre-container{
    margin: 10px 10px;
}
div.playlists-container{
    margin: 10px
}
@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
    li a:hover{
        background-color: #58c565;
        color: #ffffff;
    }
    div.songInfo{
        margin-bottom: 14px;
    }
    .fa-step-forward:before {
        content: "\f051";
        font-size: 30px;
    }
    .fa-pause-circle:before {
        content: "\f28b";
        font-size: 30px;
    }
    .fa-step-backward:before {
        content: "\f048";
        font-size: 30px;
    }
    .fa-play-circle:before {
        content: "\f144";
        font-size: 30px;
    }
    span.songName{
        font-size: 13px;
    }
    span.timestamp{
        font-size: 10px;
        margin-right: 15px;
    }
    span.songlistplay{
        margin-right: 20px;
    }
    div.container-search{
        min-height: 72vh;
        background-color: black;
        color: white;
        font-family: 'Varela Round', sans-serif;
        margin: 23px auto;
        width: 70%;
        border-radius: 12px;
        padding: 34px;
    }
    div.container-search h1{
        margin-bottom: 20px;
    }
    label{
        margin-top: 40px;
    }
    a.list-item{
        margin-bottom: 10px;
        display: flex;
        color: aqua;
    }
    button#btn_submit{
        padding: 8px 16px;
        margin: 10px;
        border-radius: 25%;
        background-color: #58c565;
    }
    div.genre-container{
        margin: 10px 10px;
    }
    div.playlists-container{
        margin: 10px
    }

  }